:root {
    /* colors */
    --mainframe: #106096; /* frame around main div */
    --bodybackgr: #bfdfef;
    --footbackgr: #f0cd8c;
    --navbackgr: #f2b84a;
    --headbackgr: #EEB951;

    --maincolor: #000000;
    --updcolor: #106096;
    --footcolor: #000000; /* 106096 d8d8d8 */

    --shadow: #f2b84a; /* similar or same as footer bkgrnd */

    --navborder: #a52a2a;
    --backborder: 1px solid var(--navbackgr);
    --debugbordr3X: 1px solid var(--navbackgr);

    /* sizes */
    --backheight: 50%;
    --backmax: 95vh;
    --backmin: 40vh; /* height of long wide pics */
    --nav-size: 2rem;
    --logo-size: 7rem;
    --logobig-size: 48%;
    --line-length: 85%;
    --foot-length: 85%;
}

/* BASIC STRUCTURE & NAV */
body {
    background-color: #106096; /* makes a frame around main div */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin-top: 0;
    padding-top: 0;
}
* {
    margin-top: 0;
    padding-top: 0;
}
#maindiv {
    background-color: var(--bodybackgr);
    width: var(--line-length);
    margin: 5px auto;
    padding: 5px;
}
.back-divs {
    display: block;
    width: 90%;
    border: var(--backborder);
    height: var(--backheight);
    min-height: var(--backmin);
    /*max-height: var(--backmax);*/
    background-color: var(--bodybackgr); /* fallback if no image*/
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    /*background-size: 100% auto; /* was 100% 100%; - fit whole width (auto height) */
    background-attachment:fixed;
    opacity: 100%;
    margin: 0 auto;
    text-shadow: 0 0 4px var(--shadow); /* shadow to 'outline' the text */
}
.back-divs img {
    width: 100%;
    height: auto;
    padding: 0;
    /*max-height: var(--backmax);*/
    margin: 0 auto;
}
#back-home01, #back-farm02, #back-fish03, #back-train04, #back-reach05 {
    width: var(--line-length);
    max-width: 85vw;
    height: auto;
    min-height: auto;
    padding: 2rem;
    margin: 0 auto;
}

.page2top {
    background:none;
    box-shadow: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px !important; /* override #navtop a */
    margin: 0.2rem;
    padding: 0.1rem;
    border: 2px dashed #050505;
    color: #050505;
    font-size: 28px;
    font-weight: 500;
    line-height: 100% !important; /* override #navtop a */
    text-align: center;
}
#navtop {
    width: var(--line-length);
    color: #000000;
    margin: 5px auto;
}
.navactive, .navshow {
    background-color: var(--navbackgr);
    margin: 2px;
    padding: 2px;
}
.navactive {
    border: solid 1px var(--navborder);
    font-weight: bold;
    color:darkblue;
}
.navshow {
    border: dashed 1px var(--navborder);
    color: #000000;
}
.navline {
    color: #0000ff;
}
#banner {
    /*display: flex;*/
    margin-bottom: 10px;
}
#logopic, #head1, #logobigpic {
    border: solid 1px var(--bodybackgr);
    padding: 5px;
}
#logobigpic {
    width: var(--logobig-size);
    height: var(--logobig-size);
}
#logopic {
    width: var(--logo-size);
    height: var(--logo-size);
}
#head1 {
    width: auto;
    height: var(--nav-size);
}
footer {
    background-color: var(--footbackgr);
    color: var(--footcolor);
    width: var(--foot-length);
    margin: 0.3rem auto;
    padding: 0.3rem;
}
/* FORM */
#NoRobot, #mailer {
    width: 80%;
    margin: 0.3rem auto;
    text-align: center;
}
#emlbutton, #emladr {
    background-color: var(--footbackgr);
    font-size: 2rem;
    padding: 0rem;
}
#emladr {
    line-height: 160%;
}
#emlbutton {
    padding: 0.4rem;
}
#emlbut {
    background-color: unset;
    border: unset;
    font-size: unset;
}
.notosea { /* , #form2, #formx */
    display: none !important;
}
.tosea {
    display: unset !important;
}
#formx {
    /*display: none;*/
    background-color: grey;
}
.formthru {
    display: block;
    background-color:#f2b84a;
}
.labl {
    display: block;
    width: 30%;
    padding: 0.3rem;
    margin: 0.1rem;
    border: dashed 1px #808080;
}
.dark {
    background-color: #778899;
    color: black;
}

/* ELEMENTS */
hr {
    width: 75%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    display: block;
    padding: 0.7rem;
}
p {
    padding: 0.5rem
}
/* CLASSES */
.centers {
    text-align: center;
    margin: 0.1rem auto;
}
.updaily {
    background-color: var(--updcolor);
    /*border: 1px dashed blue;*/
    color:#f2b84a
}
.smalltext {
    font-size: 0.7rem;
}
/* IDs */